@page
@model FoxholeIntelboard.Pages.Resources.DetailsModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Http
@{
    var demoRole = Http.HttpContext.Request.Cookies["demoRole"]
             ?? IntelboardAPI.Models.DemoUser.Role;
}
@if(demoRole == "Admin")
{
    <div>
        <h4>Resource</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Resource.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Resource.Name)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Resource.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
}
else
{
    <h4>You don't have permission to be here</h4>
    <a href="../Index">Go back</a>
}
