@page
@model FoxholeIntelboard.Pages.Ammunitions.CreateModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Http

@{
    ViewData["Title"] = "Ammunition";
    var demoRole = Http.HttpContext.Request.Cookies["demoRole"]
                  ?? IntelboardAPI.Models.DemoUser.Role;
}
@if(demoRole == "Admin")
{
    <h1>Create</h1>

    <h4>Ammunition</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @* --- Input Name --- *@
                <div class="form-group">
                    <label asp-for="Ammunition.Name" class="control-label"></label>
                    <input asp-for="Ammunition.Name" class="form-control" />
                    <span asp-validation-for="Ammunition.Name" class="text-danger"></span>
                </div>

                @* --- Input Category --- *@
                <div class="form-group">
                    <label asp-for="Ammunition.CategoryId" class="control-label"></label>
                    <select asp-for="Ammunition.CategoryId" class="form-control">
                        <option value="1">Small Arms</option>
                        <option value="2">Heavy Arms</option>
                        <option value="3">Heavy Ammunitions</option>
                    </select>
                </div>

                @* --- Input Description --- *@
                <div class="form-group">
                    <label asp-for="Ammunition.Description" class="control-label"></label>
                    <textarea asp-for="Ammunition.Description" class="form-control"></textarea>
                    <span asp-validation-for="Ammunition.Description" class="text-danger"></span>
                </div>

                @* --- Input CrateAmount --- *@
                <div class="form-group">
                    <label asp-for="Ammunition.CrateAmount" class="control-label"></label>
                    <input asp-for="Ammunition.CrateAmount" class="form-control" />
                    <span asp-validation-for="Ammunition.CrateAmount" class="text-danger"></span>
                </div>

                @* --- Input Damage Type --- *@
                <div class="form-group">
                    <label asp-for="Ammunition.DamageType">Damage Type</label>
                    <select asp-for="Ammunition.DamageType" asp-items="Model.DamageTypeOptions" class="form-control">
                        <option value="">-- Select Damage Type --</option>
                    </select>
                    <span asp-validation-for="Ammunition.DamageType" class="text-danger"></span>
                </div>

                @* --- Input Costs --- *@
                <p>Choose amount of materials required:</p>
                <input type="hidden" name="SelectedCost" id="SelectedCost" />

                <div id="selectCosts" style="display: flex; gap: 10px;">
                    <input type="radio" name="cost" value="1"> 1 Material
                    <input type="radio" name="cost" value="2"> 2 Materials
                    <input type="radio" name="cost" value="3"> 3 Materials
                </div>

                <h2>Material Cost</h2>
                <br />
                <div id="materialCostsContainer"></div>

                @* --- Input Properties --- *@
                <p>Choose amount of Ammo Properties:</p>
                <input type="hidden" name="SelectedProperty" id="SelectedProperty" />

                <div id="selectProperties" style="display: flex; gap: 10px;">
                    <input type="radio" name="property" value="1"> 1 Property
                    <input type="radio" name="property" value="2"> 2 Properties
                    <input type="radio" name="property" value="3"> 3 Properties
                </div>

                <h2>Ammo Property</h2>
                <br />
                <div id="specialPropertiesContainer"></div>

                @* --- Submit Item --- *@
                <div class="form-group mt-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
}
else
{
    <h4>You don't have permission to be here</h4>
    <a href="../Index">Go back</a>
}


@section Scripts {
    @{
        <script>
            const specialProperties = @Html.Raw(Json.Serialize(Model.AmmoPropertiesOptions));
        </script>
        <script src="~/js/create-ammunition.js"></script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
